.main-about{
    background-color: #FFf;
}
.img-about{
    position: relative;
}
.layer-img{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.3);
}

.layer-img2{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    
}
.hidd{
    overflow: hidden;
}
/* .decor{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
}
.text-img{
    position: absolute;
    color: white;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(147, 144, 144, 0.5);
    transition: 1s all ease;


}
.img-profile{
    position: relative;
    overflow: hidden;
   
}
.text-img h4{
    text-transform: uppercase;
}

.img-profile:hover .text-img{
    transition: 1s all ease !important;
    -webkit-transition: 1s all ease !important;
    -moz-transition: 1s all ease !important;
    -ms-transition: 1s all ease !important;
    -o-transition: 1s all ease !important;
    bottom: 0px;
}
 */




/************************************************* Our Story end *************************************************************/

.container{
    justify-content: space-evenly !important;
}
.card {
    position: relative;
    border-radius: 25px !important;
    overflow: hidden;
    max-width: 310px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.card .card-image {
    width: 100%;
    height: 400px;
}

.card .card-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.Our_st_text{
    text-transform: uppercase;
}

.card:hover .card-content {
    bottom: 0px;
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
}


.card:hover .card-content .social-icons li {
    transform: translateY(20px);
}

.card .card-content .social-icons li a {
    color: #fff;
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem;
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px;
    }

    .container .row .col-lg-4 {
        margin: 20px 0px;
    }
}

/************************************************* memper end *************************************************************/

/* ??????????????????????????????????????????????11111111111111111111111111111111111111111???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????11111111111111111111111111111111111111111???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????11111111111111111111111111111111111111111???????????????????????????????????????????????? */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .about_frist_all{
        /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(../images/guost_button.jpg); */
    }
    .about_frist_text h1{
        font-size: 40px;  
        padding: 0px 100px;
    }
    .about_frist_text{
        top: 40%;
        left: -10%;
    }
 /************************************************* Our Story end *************************************************************/
}
/* ??????????????????????????????????????????????22222222222222222222222222222222222222222???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????22222222222222222222222222222222222222222???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????22222222222222222222222222222222222222222???????????????????????????????????????????????? */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .about_frist_text h1{
        font-size: 50px;  
        padding: 0px 100px;
    }
    .about_frist_text{
        top: 40%;
        left: 5%;
    }
/************************************************* Our Story end *************************************************************/
}
/* ??????????????????????????????????????????????33333333333333333333333333333333333333333???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????33333333333333333333333333333333333333333???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????33333333333333333333333333333333333333333???????????????????????????????????????????????? */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .about_frist_all{
        /* background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(../images/guost_button.jpg); */
    }
    .about_frist_text h1{
        font-size: 80px; 
    }
/************************************************* Our Story end *************************************************************/
}





