body{
    background-color: #ffffff !important;
}

.contact_backg_blu{
    background-color: #5a3427; 
}
.color_brw{
    color: #5a3427;
}
.form_all{
    background-color: #fff;
}
.titel-page{
    color: #5a3427!important;
}
.div_desin_blu{
    width: 100%;
    height: 35px;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    background-color: #9d6751; 
}
.form-select ,.form-control{
    padding: 10px 10px !important;
    border-radius: 0px !important;
    border: 1px solid #5a3427!important;
    color: #5a3427!important; 
}
#message_hight{
    height: 100px !important;
}
.submit_butt{
    border: 5px solid #9d6751 !important;
    background-color: #9d6751 !important;
    color: #ffffff !important;
}
label{
    font-weight: lighter;
    color: #5a3427!important; 
}
.all_icon_contact{
    position: relative;
}
.icon_contact{
    position: absolute;
    width:100%;
}
.icon_contact h4{
    padding: 10px 0px;
    background-color: #fff;
}
.color_whit{
    color: #fff;
}
.icon_contact a i{
    font-size: 30px;
    color: #ffffff ;
}
.icon_contact a i:hover{
    color: #874c24 ;
}
.div_desin_whit{
    width: 100%;
    height: 35px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    background-color: #fff; 
}
.samp{
    font-size: 15px;
}
/* ****************************************************** CONTACT US end ********************************************************/


/* ??????????????????????????????????????????????11111111111111111111111111111111111111111???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????11111111111111111111111111111111111111111???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????11111111111111111111111111111111111111111???????????????????????????????????????????????? */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .contact_backg_blu{
        padding: 50px 50px;
    }
    .all_icon_contact img{
        height: 689px;
    }
    .all_icon_contact{
        margin: 50px 50px;
    }
    .form_all{
        box-shadow: -3px 7px 39px 2px rgba(0,0,0,0.51);
        -webkit-box-shadow: -3px 7px 39px 2px rgba(0,0,0,0.51);
        -moz-box-shadow: -3px 7px 39px 2px rgba(0,0,0,0.51);
    }
    .all_icon_contact{
        box-shadow: -3px 7px 39px 2px rgba(0,0,0,0.51);
        -webkit-box-shadow: -3px 7px 39px 2px rgba(0,0,0,0.51);
        -moz-box-shadow: -3px 7px 39px 2px rgba(0,0,0,0.51);
    }
 /************************************************* CONTACT US end end *************************************************************/
 }
/* ??????????????????????????????????????????????22222222222222222222222222222222222222222???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????22222222222222222222222222222222222222222???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????22222222222222222222222222222222222222222???????????????????????????????????????????????? */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container_10{
        padding-top: 70px;
    }
    .contact_backg_blu{
        padding: 152px 0px; 
        padding-left: 80px;
    }
    .all_icon_contact{
        margin: 150px 0px;  
    }
    .form_all{
        box-shadow: -37px 37px 79px 9px rgba(0,0,0,0.44);
        -webkit-box-shadow: -37px 37px 79px 9px rgba(0,0,0,0.44);
        -moz-box-shadow: -37px 37px 79px 9px rgba(0,0,0,0.44);
    }
    .all_icon_contact{
        box-shadow: 37px 37px 79px -12px rgba(0,0,0,0.51);
        -webkit-box-shadow: 37px 37px 79px -12px rgba(0,0,0,0.51);
        -moz-box-shadow: 37px 37px 79px -12px rgba(0,0,0,0.51);
    }
/************************************************* CONTACT US end *************************************************************/
}
/* ??????????????????????????????????????????????33333333333333333333333333333333333333333???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????33333333333333333333333333333333333333333???????????????????????????????????????????????? */
/* ??????????????????????????????????????????????33333333333333333333333333333333333333333???????????????????????????????????????????????? */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container_10{
        padding-top: 75px;
    }
    .contact_backg_blu{
        padding: 300px 0px; 
        padding-left: 130px;
    }
    .all_icon_contact img{
        height: 680px; 
    }
    .all_icon_contact{
        margin: 300px 0px;  
    }
    .form_all{
        box-shadow: -30px 30px 30px 9px rgba(0,0,0,0.44);
        -webkit-box-shadow: -30px 30px 30px 9px rgba(0,0,0,0.44);
        -moz-box-shadow: -30px 30px 30px 9px rgba(0,0,0,0.44);
    }
    .all_icon_contact{
        box-shadow: 30px 30px 30px -12px rgba(0,0,0,0.51);
        -webkit-box-shadow: 30px 30px 30px -12px rgba(0,0,0,0.51);
        -moz-box-shadow: 30px 30px 30px -12px rgba(0,0,0,0.51);
    }
/************************************************* CONTACT US end *************************************************************/
}
